/* Styling file specific to experience page */

.demo {
  border: 1px solid black;
  width: 50%;
}

.proj-site {
  width: 100%;
}

.vid-screen {
  width: 50%;
}

#roles {
  margin-top: 25px;
  margin-bottom: 200px;
  padding: 20px;
  background-color: #f4ccce;
  border-radius: 25px;
}

#roles > section {
  background-color: #ececf0;
  border-radius: 25px;
  padding: 10px;
}

#roles + article > section, #bottom > section {
  width: 50%;
}

#roles + article {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

#roles + article h2 {
  font-weight: 400;
  font-size: 20px;
  margin-right: 50px;
  background-color: #ececf0;
  border-radius: 25px;
  filter: drop-shadow(-10px 10px 2px #efb7ba);
  padding: 10px;
}

#bottom {
  display: flex;
  align-items: center;
}

#bottom section {
  margin-left: 50px;
  background-color: #ececf0;
  border-radius: 25px;
  padding: 10px;
  filter: drop-shadow(-10px 10px 2px #efb7ba);
}

#bottom h2 {
  font-weight: 400;
  font-size: 20px;
}

#bottom img {
  /* animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

#spec-rec {
  width: 50%;
  /* animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

#spec-rec p {
  margin-top: 0px;
}

#spec-rec > section + section {
  margin-top: 20px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}