/* Styling file specific to experience page */

article > section {
  width: 50%;
}

.demo {
  border: 1px solid black;
  width: 50%;
}

.proj-site {
  width: 100%;
}

.vid-screen {
  width: 50%;
}

#roles {
  margin-top: 25px;
  margin-bottom: 200px;
  background-color: #ececf0;
  border-radius: 25px;
  padding: 10px;
}

#roles + article {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

#roles + article h2 {
  font-weight: 400;
  font-size: 20px;
  margin-right: 50px;
  background-color: #ececf0;
  border-radius: 25px;
  padding: 10px;
}

#bottom {
  display: flex;
  align-items: center;
}

#bottom section {
  margin-left: 50px;
  background-color: #ececf0;
  border-radius: 25px;
  padding: 10px;
}

#bottom h2 {
  font-weight: 400;
  font-size: 20px;
}

#spec-rec {
  width: 50%;
}

#spec-rec p {
  margin-top: 0px;
}

#spec-rec > section + section {
  margin-top: 20px;
}