/* Styling file specific to projects page */

main > section {
  margin-bottom: 200px;
}

.with-vis {
  display: flex;
  align-items: center;
}

.raw {
  width: 50%;
}

.wrapped {
  width: 100%;
}

.demo {
  border: 1px solid black;
}

.text-left {
  width: 50%;
  margin-right: 50px;
}

.text-right {
  margin-left: 50px;
}

.text-left, .text-right {
  background-color: #ececf0;
  border-radius: 25px;
  padding: 10px;
}

#commencement {
  width: 50%;
}