/* Styling file specific to projects page */

main > section {
  margin-bottom: 200px;
}

.with-vis {
  display: flex;
  align-items: center;
}

.raw {
  width: 50%;
}

.wrapped {
  width: 100%;
}

.demo {
  border: 1px solid black;
  /* animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

.text-left {
  width: 50%;
  margin-right: 50px;
}

.text-right {
  margin-left: 50px;
}

.text-left, .text-right {
  background-color: #ececf0;
  border-radius: 25px;
  padding: 10px;
  filter: drop-shadow(-10px 10px 2px #efb7ba);
}

#commencement {
  width: 50%;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}